#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

pre {
  text-align: left;
  background: #eee;
}

th {
  user-select: none;
  padding: 0 4px;
}

td {
  padding: 0 4px;
}
table {
  .date {
    text-align: right;
  }
  .description {
    text-align: left;
  }
  .number {
    text-align: right;
  }
}

.flex {
  display: flex;
}
.stretch > input {
  flex: 1;
}

.w-24 {
  width: 48px;
}
.flex1 {
  flex: 1;
}

.card-list {
  text-align: left;
  margin-top: 1rem;
}

.card {
  padding: 1rem;
  max-width: 300px;
}
